.header{
	display: flex;
	width: 70%;
	margin: auto;
	margin-top: 48px;
	margin-bottom: 48px;
}

.header-info{
	color: #a8a8a8;
	padding-left: 50px;
	box-sizing: border-box;
}

.header-info p{
	color: #939393;
	font-style: italic;
}

.header-info h2{
	color: white;
}

.header-image img{
	border-radius: 50%;
	padding: 25%;
	box-sizing: border-box;
}