.header{
	display: flex;
	width: 70%;
	margin: auto;
}

.header-info{
	color: #a8a8a8;
	padding: 5%;
	box-sizing: border-box;
}

.header-info h4{
	color: #939393;
}

.header-image img{
	border-radius: 50%;
	padding: 10%;
	box-sizing: border-box;
}