.related-video-card{
	width: 20vw;
	min-width: 350px;
	margin-bottom: 8px;
	background-color: #242424;
	padding: 16px;
	height: 400px;
}

.related-video-card h3{
	color: #d6d6d6;
	
}

.related-video-card p{
	color: #939393;
}